html {
  font-family: "Noto Sans", sans-serif;
}

.jap {
  font-family: "Noto Sans Japanese", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
}

.btn {
  color: #000;
  text-decoration: none;
  background-color: transparent;
  border-style: none;
}

.btn-ghost {
  text-decoration: none;
  color: #000;
  border-radius: 3px;
  border-color: #8bc9d9;
  border: 2px solid;
}

.btn:hover {
  background-color: #ddd;
  color: #005e76;
  border-color: #000;
}

.btn-ghost:hover {
  color: #005e76;
}

.eng {
  font-family: "Noto Sans", sans-serif;
}

hr {
  border-color: #e2e2e2;
}

@media only screen and (min-width: 60em) {

  .wrapper {
    max-width: 38em;
  }

}
